<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.type.watch" android:required="true" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />
    <uses-permission android:name="android.permission.health.READ_HEART_RATE" />
    <uses-permission android:name="android.permission.health.READ_SKIN_TEMPERATURE" />
    <uses-permission android:name="com.samsung.android.hardware.sensormanager.permission.READ_ADDITIONAL_HEALTH_DATA" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:label="MobiWellbeing"
        android:supportsRtl="true">
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />
        <service
            android:name=".capture.SensorCaptureService"
            android:exported="false"
            android:foregroundServiceType="health" />

        <service
            android:name=".transport.WearDataLayerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data android:host="*" android:pathPrefix="/affect" android:scheme="wear" />
            </intent-filter>
        </service>
    </application>
</manifest>
